@model Super_Cartes_Infinies.Models.GameConfig

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameConfig</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nbCardsToDraw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nbCardsToDraw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mana)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
