@{
    ViewData["Title"] = "Configuration de Super Cartes Infinies";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Au système de configuration du jeu de cartes développer dans le cadre du cours 5W5 (Programmation Web Avancée)</p>
</div>

